#div1{
    background-color: rgb(127, 239, 239);
    width: 270px;
    text-align: left;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
}
body{
    background-color: orange;
}
button{
    background-color: greenyellow;
    height: 30px;
    border-radius: 5px;
    text-align: right;
    font-size: 20px;
}
#div2{
    background-color: rgb(149, 239, 127);
    width: 270px;
    text-align: left;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
}
div{
    display: inline-block;
}
#div3{
    background-color: rgb(127, 239, 239);
    width: 270px;
    text-align: left;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
}
img{
    width: 272px;
}

#div4{
    background-image: radial-gradient(rgb(223, 92, 103),rgb(78, 208, 171),rgb(210, 224, 210));
    height: 70px;
    width:1000px;

}
ul{
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
}
li{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
a{
    text-decoration: none;
    font-size: 30px;
}
li:hover{
    background-color:rgb(247, 244, 240);
    border-radius: 8px;
}
    
